@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script>
        var urllistarPacientes = "@Url.Action("ListarPacientes")";
        var urllistarProfesionales = "@Url.Action("ListarProfesionales")";
        var urllistarEmpresas = "@Url.Action("ListarEmpresas")";
    </script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/index.js"></script>
}


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" data-bind="with: PacientesViewModel">
        <button type="button" class="btn card text-white bg-primary mb-3" style="width:100%" data-bind="click: ListarPacientes">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-address-book"></span>
                    Pacientes
                </h3>
                @*<p class="card-text">Activos: 20</p>*@
            </div>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  col-sm-12"  data-bind="with: ProfesionalesViewModel">
        <button type="button" class="btn card text-white bg-info mb-3" style="width:100%" data-bind="click: ListarProfesionales">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-user-md"></span>
                    Profesionales
                </h3>
                @*<p class="card-text">Activos: 20</p>*@
            </div>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  col-sm-12" data-bind="with: EmpresasViewModel">
        <button type="button" class="btn card text-white bg-success mb-3" style="width:100%" data-bind="click: ListarEmpresas">
            <div class="card-body">
                <h3 class="card-title">
                    <span class="fa fa-2x fa-building"></span>
                    Empresas
                </h3>
                @*<p class="card-text">Activos: 20</p>*@
            </div>
        </button>
    </div>
</div>
@*<div class="row" data-bind="visible: MostrarPacientes">*@
<div class="row" data-bind="with: PacientesViewModel">
    @Html.Partial("Pacientes")
</div>
<div class="row" data-bind="with: ProfesionalesViewModel">
    @Html.Partial("Profesionales")
</div>
<div class="row" data-bind="with: EmpresasViewModel">
    @Html.Partial("Empresas")
</div>